// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  display: inline-block;
	top: 0;
	left: 0;
	width: 140px;
	height: 40px;
	background-color: transparent;;
  text-decoration-color: blue;
  text-align: center;
}
